# ðŸŽ¬ Movie Recommendation & Rating System Analysis

This notebook performs exploratory data analysis on the `movies.db` database. We analyze average ratings, genre distributions, and recommendations.

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")

# Connect to the database
conn = sqlite3.connect("movies.db")

In [ ]:
query_genre = '''
SELECT Genre, AVG(Rating) as Avg_Rating
FROM Movie
JOIN Rating ON Movie.Movie_ID = Rating.Movie_ID
GROUP BY Genre
'''
df_genre = pd.read_sql_query(query_genre, conn)

plt.figure(figsize=(8,6))
sns.barplot(data=df_genre, x="Genre", y="Avg_Rating")
plt.title("Average Rating per Genre")
plt.ylim(0, 5)
plt.xticks(rotation=45)
plt.show()

In [ ]:
query_count = '''
SELECT Genre, COUNT(*) as Movie_Count
FROM Movie
GROUP BY Genre
'''
df_count = pd.read_sql_query(query_count, conn)

plt.figure(figsize=(8,6))
sns.barplot(data=df_count, x="Genre", y="Movie_Count")
plt.title("Number of Movies per Genre")
plt.xticks(rotation=45)
plt.show()

In [ ]:
query_rec = '''
SELECT Title, COUNT(*) as Num_Recommendations
FROM Movie
JOIN Recommendation ON Movie.Movie_ID = Recommendation.Movie_ID
GROUP BY Title
ORDER BY Num_Recommendations DESC
'''
df_rec = pd.read_sql_query(query_rec, conn)

plt.figure(figsize=(8,6))
sns.barplot(data=df_rec, x="Title", y="Num_Recommendations")
plt.title("Top Recommended Movies")
plt.xticks(rotation=45)
plt.show()

In [ ]:
query_director = '''
SELECT Director, AVG(Rating) as Avg_Rating
FROM Movie
JOIN Rating ON Movie.Movie_ID = Rating.Movie_ID
GROUP BY Director
ORDER BY Avg_Rating DESC
'''
df_director = pd.read_sql_query(query_director, conn)

plt.figure(figsize=(10,6))
sns.barplot(data=df_director, x="Avg_Rating", y="Director")
plt.title("Average Rating per Director")
plt.xlim(0, 5)
plt.show()

conn.close()